/* COMPONENT DataCompleta */
.date{
    font-family: 'Museo Sans', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: right;
    color: rgba(0, 0, 0, 0.5);

    left: 35%;
    top: 30%;
    margin: auto;
    padding: auto;
    position: absolute;
}

.date1{
    font-family: 'Museo Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: right;
    color: rgba(0, 0, 0, 0.5);

    left: 40%;
    top: 45%;
    margin: auto;
    padding: auto;
    position: absolute;
}